@page "/search/score/{stu_idx}"
@using tjdaca.Data
@inject tjdaca.Services.IStudentService studentService
@inject tjdaca.Services.IOptionService optionService
@inject IJSRuntime JS

<PageTitle>학생 성적 관리</PageTitle>

<h3>학생 성적 관리</h3>

<MudCard Elevation="25">
    <MudCardHeader>
        <CardHeaderContent>
            <MudText Typo="Typo.h6">선택학생 정보</MudText>
        </CardHeaderContent>
    </MudCardHeader>

    <MudCardContent>
        <MudGrid Spacing="0">
            <MudItem xs="1">
                <MudTextField @bind-Value="student.StuIdx" Label="학생번호" ReadOnly="true" Variant="Variant.Filled" Margin="Margin.Normal"></MudTextField>
            </MudItem>
            <MudItem xs="3">
                <MudTextField @bind-Value="student.StuName" Label="학생 이름" ReadOnly="true" Variant="Variant.Filled" Margin="Margin.Normal"></MudTextField>
            </MudItem>
            <MudItem xs="3">
                <MudTextField @bind-Value="student.School" Label="학교" ReadOnly="true" Variant="Variant.Filled" Margin="Margin.Normal"></MudTextField>
            </MudItem>
            <MudItem xs="2">
                <MudTextField @bind-Value="student.SchGrade" Label="학년" ReadOnly="true" Variant="Variant.Filled" Margin="Margin.Normal"></MudTextField>
            </MudItem>
            <MudItem xs="3">
                <MudTextField @bind-Value="student.Teacher" Label="담임선생님" ReadOnly="true" Variant="Variant.Filled" Margin="Margin.Normal"></MudTextField>
            </MudItem>
        </MudGrid>
    </MudCardContent>

</MudCard>
<br />
<br />

<MudCard Elevation="25">
    <MudCardHeader>
        <CardHeaderContent>
            <MudText Typo="Typo.h6">중학교 성적</MudText>
        </CardHeaderContent>
    </MudCardHeader>

    <MudCardContent>
        <MudGrid Spacing="1">
            <MudItem xs="2">
                <MudSelect @bind-Value="schoolScore.M111" Label="1-1중간" Variant="Variant.Text" Margin="Margin.Normal">
                    @foreach (var type in ratioList)
                    {
                        <MudSelectItem Value="@type">@type</MudSelectItem>
                    }
                </MudSelect>
            </MudItem>
            <MudItem xs="2">
                <MudSelect @bind-Value="schoolScore.M112" Label="1-1기말" Variant="Variant.Text" Margin="Margin.Normal">
                    @foreach (var type in ratioList)
                    {
                        <MudSelectItem Value="@type">@type</MudSelectItem>
                    }
                </MudSelect>
            </MudItem>
            <MudItem xs="2">
                <MudSelect @bind-Value="schoolScore.M113" Label="1-1종합" Variant="Variant.Text" Margin="Margin.Normal">
                    @foreach (var type in ratioList)
                    {
                        <MudSelectItem Value="@type">@type</MudSelectItem>
                    }
                </MudSelect>
            </MudItem>
            <MudItem xs="2">
                <MudSelect @bind-Value="schoolScore.M121" Label="1-2중간" Variant="Variant.Text" Margin="Margin.Normal">
                    @foreach (var type in ratioList)
                    {
                        <MudSelectItem Value="@type">@type</MudSelectItem>
                    }
                </MudSelect>
            </MudItem>
            <MudItem xs="2">
                <MudSelect @bind-Value="schoolScore.M122" Label="1-2기말" Variant="Variant.Text" Margin="Margin.Normal">
                    @foreach (var type in ratioList)
                    {
                        <MudSelectItem Value="@type">@type</MudSelectItem>
                    }
                </MudSelect>
            </MudItem>
            <MudItem xs="2">
                <MudSelect @bind-Value="schoolScore.M123" Label="1-2종합" Variant="Variant.Text" Margin="Margin.Normal">
                    @foreach (var type in ratioList)
                    {
                        <MudSelectItem Value="@type">@type</MudSelectItem>
                    }
                </MudSelect>
            </MudItem>
            <MudItem xs="2">
                <MudSelect @bind-Value="schoolScore.M211" Label="2-1중간" Variant="Variant.Text" Margin="Margin.Normal">
                    @foreach (var type in ratioList)
                    {
                        <MudSelectItem Value="@type">@type</MudSelectItem>
                    }
                </MudSelect>
            </MudItem>
            <MudItem xs="2">
                <MudSelect @bind-Value="schoolScore.M212" Label="2-1기말" Variant="Variant.Text" Margin="Margin.Normal">
                    @foreach (var type in ratioList)
                    {
                        <MudSelectItem Value="@type">@type</MudSelectItem>
                    }
                </MudSelect>
            </MudItem>
            <MudItem xs="2">
                <MudSelect @bind-Value="schoolScore.M213" Label="2-1종합" Variant="Variant.Text" Margin="Margin.Normal">
                    @foreach (var type in ratioList)
                    {
                        <MudSelectItem Value="@type">@type</MudSelectItem>
                    }
                </MudSelect>
            </MudItem>
            <MudItem xs="2">
                <MudSelect @bind-Value="schoolScore.M221" Label="2-2중간" Variant="Variant.Text" Margin="Margin.Normal">
                    @foreach (var type in ratioList)
                    {
                        <MudSelectItem Value="@type">@type</MudSelectItem>
                    }
                </MudSelect>
            </MudItem>
            <MudItem xs="2">
                <MudSelect @bind-Value="schoolScore.M222" Label="2-2기말" Variant="Variant.Text" Margin="Margin.Normal">
                    @foreach (var type in ratioList)
                    {
                        <MudSelectItem Value="@type">@type</MudSelectItem>
                    }
                </MudSelect>
            </MudItem>
            <MudItem xs="2">
                <MudSelect @bind-Value="schoolScore.M223" Label="2-2종합" Variant="Variant.Text" Margin="Margin.Normal">
                    @foreach (var type in ratioList)
                    {
                        <MudSelectItem Value="@type">@type</MudSelectItem>
                    }
                </MudSelect>
            </MudItem>
            <MudItem xs="2">
                <MudSelect @bind-Value="schoolScore.M311" Label="3-1중간" Variant="Variant.Text" Margin="Margin.Normal">
                    @foreach (var type in ratioList)
                    {
                        <MudSelectItem Value="@type">@type</MudSelectItem>
                    }
                </MudSelect>
            </MudItem>
            <MudItem xs="2">
                <MudSelect @bind-Value="schoolScore.M312" Label="3-1기말" Variant="Variant.Text" Margin="Margin.Normal">
                    @foreach (var type in ratioList)
                    {
                        <MudSelectItem Value="@type">@type</MudSelectItem>
                    }
                </MudSelect>
            </MudItem>
            <MudItem xs="2">
                <MudSelect @bind-Value="schoolScore.M313" Label="3-1종합" Variant="Variant.Text" Margin="Margin.Normal">
                    @foreach (var type in ratioList)
                    {
                        <MudSelectItem Value="@type">@type</MudSelectItem>
                    }
                </MudSelect>
            </MudItem>
            <MudItem xs="2">
                <MudSelect @bind-Value="schoolScore.M321" Label="3-2중간" Variant="Variant.Text" Margin="Margin.Normal">
                    @foreach (var type in ratioList)
                    {
                        <MudSelectItem Value="@type">@type</MudSelectItem>
                    }
                </MudSelect>
            </MudItem>
            <MudItem xs="2">
                <MudSelect @bind-Value="schoolScore.M322" Label="3-2기말" Variant="Variant.Text" Margin="Margin.Normal">
                    @foreach (var type in ratioList)
                    {
                        <MudSelectItem Value="@type">@type</MudSelectItem>
                    }
                </MudSelect>
            </MudItem>
            <MudItem xs="2">
                <MudSelect @bind-Value="schoolScore.M323" Label="3-2종합" Variant="Variant.Text" Margin="Margin.Normal">
                    @foreach (var type in ratioList)
                    {
                        <MudSelectItem Value="@type">@type</MudSelectItem>
                    }
                </MudSelect>
            </MudItem>
        </MudGrid>
        
    </MudCardContent>
    <br />

    <MudCardHeader>
        <CardHeaderContent>
            <MudText Typo="Typo.h6">고등학교 성적</MudText>
        </CardHeaderContent>
    </MudCardHeader>

    <MudCardContent>
        <MudGrid Spacing="1">
            <MudItem xs="2">
                <MudSelect @bind-Value="schoolScore.H111" Label="1-1중간" Variant="Variant.Text" Margin="Margin.Normal">
                    @foreach (var type in ratioList)
                    {
                        <MudSelectItem Value="@type">@type</MudSelectItem>
                    }
                </MudSelect>
            </MudItem>
            <MudItem xs="2">
                <MudSelect @bind-Value="schoolScore.H112" Label="1-1기말" Variant="Variant.Text" Margin="Margin.Normal">
                    @foreach (var type in ratioList)
                    {
                        <MudSelectItem Value="@type">@type</MudSelectItem>
                    }
                </MudSelect>
            </MudItem>
            <MudItem xs="2">
                <MudSelect @bind-Value="schoolScore.H113" Label="1-1종합" Variant="Variant.Text" Margin="Margin.Normal">
                    @foreach (var type in ratioList)
                    {
                        <MudSelectItem Value="@type">@type</MudSelectItem>
                    }
                </MudSelect>
            </MudItem>
            <MudItem xs="2">
                <MudSelect @bind-Value="schoolScore.H121" Label="1-2중간" Variant="Variant.Text" Margin="Margin.Normal">
                    @foreach (var type in ratioList)
                    {
                        <MudSelectItem Value="@type">@type</MudSelectItem>
                    }
                </MudSelect>
            </MudItem>
            <MudItem xs="2">
                <MudSelect @bind-Value="schoolScore.H122" Label="1-2기말" Variant="Variant.Text" Margin="Margin.Normal">
                    @foreach (var type in ratioList)
                    {
                        <MudSelectItem Value="@type">@type</MudSelectItem>
                    }
                </MudSelect>
            </MudItem>
            <MudItem xs="2">
                <MudSelect @bind-Value="schoolScore.H123" Label="1-2종합" Variant="Variant.Text" Margin="Margin.Normal">
                    @foreach (var type in ratioList)
                    {
                        <MudSelectItem Value="@type">@type</MudSelectItem>
                    }
                </MudSelect>
            </MudItem>
            <MudItem xs="2">
                <MudSelect @bind-Value="schoolScore.H211" Label="2-1중간" Variant="Variant.Text" Margin="Margin.Normal">
                    @foreach (var type in ratioList)
                    {
                        <MudSelectItem Value="@type">@type</MudSelectItem>
                    }
                </MudSelect>
            </MudItem>
            <MudItem xs="2">
                <MudSelect @bind-Value="schoolScore.H212" Label="2-1기말" Variant="Variant.Text" Margin="Margin.Normal">
                    @foreach (var type in ratioList)
                    {
                        <MudSelectItem Value="@type">@type</MudSelectItem>
                    }
                </MudSelect>
            </MudItem>
            <MudItem xs="2">
                <MudSelect @bind-Value="schoolScore.H213" Label="2-1종합" Variant="Variant.Text" Margin="Margin.Normal">
                    @foreach (var type in ratioList)
                    {
                        <MudSelectItem Value="@type">@type</MudSelectItem>
                    }
                </MudSelect>
            </MudItem>
            <MudItem xs="2">
                <MudSelect @bind-Value="schoolScore.H221" Label="2-2중간" Variant="Variant.Text" Margin="Margin.Normal">
                    @foreach (var type in ratioList)
                    {
                        <MudSelectItem Value="@type">@type</MudSelectItem>
                    }
                </MudSelect>
            </MudItem>
            <MudItem xs="2">
                <MudSelect @bind-Value="schoolScore.H222" Label="2-2기말" Variant="Variant.Text" Margin="Margin.Normal">
                    @foreach (var type in ratioList)
                    {
                        <MudSelectItem Value="@type">@type</MudSelectItem>
                    }
                </MudSelect>
            </MudItem>
            <MudItem xs="2">
                <MudSelect @bind-Value="schoolScore.H223" Label="2-2종합" Variant="Variant.Text" Margin="Margin.Normal">
                    @foreach (var type in ratioList)
                    {
                        <MudSelectItem Value="@type">@type</MudSelectItem>
                    }
                </MudSelect>
            </MudItem>
            
        </MudGrid>
        <br />
        <MudButton Variant="Variant.Filled" Size="Size.Large" Color="Color.Info" StartIcon="@Icons.Material.Filled.Save" OnClick="SaveSchoolScore">학교 성적 저장</MudButton>
    </MudCardContent>

</MudCard>
<br />
<br />
<MudCard Elevation="25">
    <MudCardHeader>
        <CardHeaderContent>
            <MudText Typo="Typo.h6">월말 모의고사 성적 등록</MudText>
        </CardHeaderContent>
    </MudCardHeader>

    <MudCardContent>

        <MudGrid Spacing="2">
            <MudItem xs="2">
                <MudNumericField @bind-Value="examScore.Year" Label="연도" Min="2020" Max="2040" Variant="Variant.Text" Margin="Margin.Normal"></MudNumericField>
            </MudItem>
            <MudItem xs="2">
                <MudNumericField @bind-Value="examScore.Month" Label="월" Min="1" Max="12" Variant="Variant.Text" Margin="Margin.Normal"></MudNumericField>
            </MudItem>
            <MudItem xs="2">
                <MudSelect @bind-Value="examScore.Score" Label="점수" Variant="Variant.Text" Margin="Margin.Normal">
                    @foreach (var type in ratioList)
                    {
                        <MudSelectItem Value="@type">@type</MudSelectItem>
                    }
                </MudSelect>
            </MudItem>
            <MudItem xs="5">
                <MudTextField @bind-Value="examScore.ReportUrl" Label="매쓰홀릭 리포트URL" Variant="Variant.Text" Margin="Margin.Normal"></MudTextField>
            </MudItem>
            <MudItem xs="1">
                <MudButton Variant="Variant.Filled" Color="Color.Success" OnClick="SaveExamScore">추가</MudButton>
            </MudItem>
        </MudGrid>
    </MudCardContent>

</MudCard>
<br />

<MudTable Elevation="25" Items="@examScoreList" T="AcaStuExamScore" Dense="true" Hover="true" CanCancelEdit="true"
    SortLabel="정렬기준" CommitEditTooltip="변경내용 저장"
    OnCommitEditClick="@(() => snackBar.Add("변경내용이 저장되었습니다."))" RowEditPreview="BackupItem" RowEditCancel="ResetItemToOriginalValues"
    RowEditCommit="ItemHasBeenCommitted" IsEditRowSwitchingBlocked="true" ApplyButtonPosition="TableApplyButtonPosition.End" EditButtonPosition="TableEditButtonPosition.End" EditTrigger="TableEditTrigger.EditButton">
    <ToolBarContent>
        <MudText Typo="Typo.h6">월말 모의고사 성적 목록</MudText>
    </ToolBarContent>
    <ColGroup>
        <col style="width:150px;" />
        <col style="width:150px;" />
        <col style="width:150px;" />
        <col />
        <col style="width:50px;" />
        <col style="width:50px;" />
    </ColGroup>
    <HeaderContent>
        <MudTh>연도</MudTh>
        <MudTh>월</MudTh>
        <MudTh>점수</MudTh>
        <MudTh>매쓰홀릭 리포트URL</MudTh>
        <MudTh></MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTd DataLabel="연도">@context.Year</MudTd>
        <MudTd DataLabel="월">@context.Month</MudTd>
        <MudTd DataLabel="점수">@context.Score</MudTd>
        <MudTd DataLabel="매쓰홀릭 리포트URL">@context.ReportUrl</MudTd>
        <MudTd DataLabel="삭제">
            <MudIconButton Size="@Size.Small" Icon="@Icons.Material.Filled.DeleteForever" Class="pa-0" Color="Color.Error" @onclick="() => DeleteData(context)" />
        </MudTd>
    </RowTemplate>
    <RowEditingTemplate>
        <MudTd DataLabel="연도">
            <MudNumericField @bind-Value="@context.Year" Required Min="2020" Max="2040" Variant="Variant.Text" Margin="Margin.Normal"></MudNumericField>
        </MudTd>
        <MudTd DataLabel="월">
            <MudNumericField @bind-Value="@context.Month" Required Min="1" Max="12" Variant="Variant.Text" Margin="Margin.Normal"></MudNumericField>
        </MudTd>
        <MudTd DataLabel="점수">
            <MudNumericField @bind-Value="@context.Score" Required Min="0" Max="100" Variant="Variant.Text" Margin="Margin.Normal"></MudNumericField>
        </MudTd>
        <MudTd DataLabel="매쓰홀릭 리포트URL">
            <MudTextField @bind-Value="@context.ReportUrl" Variant="Variant.Text" Margin="Margin.Normal"></MudTextField>
        </MudTd>
        <MudTd DataLabel="">
            
        </MudTd>
    </RowEditingTemplate>
    <PagerContent>
        <MudTablePager />
    </PagerContent>
    <EditButtonContent Context="button">
        <MudIconButton Size="@Size.Small" Icon="@Icons.Material.Outlined.Edit" Class="pa-0" OnClick="@button.ButtonAction" Disabled="@button.ButtonDisabled" />
    </EditButtonContent>
</MudTable>
    

@code {
    private AcaStuExamScore examScoreBeforeEdit;

    private void BackupItem(object item)
    {
        examScoreBeforeEdit = new()
            {
                Year = ((AcaStuExamScore)item).Year,
                Month = ((AcaStuExamScore)item).Month,
                Score = ((AcaStuExamScore)item).Score,
                ReportUrl = ((AcaStuExamScore)item).ReportUrl
            };
    }

    private void ItemHasBeenCommitted(object item)
    {
        UpdateExamScore((AcaStuExamScore)item);
    }

    private void ResetItemToOriginalValues(object item)
    {
        ((AcaStuExamScore)item).Year = examScoreBeforeEdit.Year;
        ((AcaStuExamScore)item).Month = examScoreBeforeEdit.Month;
        ((AcaStuExamScore)item).Score = examScoreBeforeEdit.Score;
        ((AcaStuExamScore)item).ReportUrl = examScoreBeforeEdit.ReportUrl;
    }
    
    private async void DeleteData(AcaStuExamScore item)
    {
        bool? result = await DialogService.ShowMessageBox(
                "삭제 확인",
                "데이터를 삭제하시면 복구할 수 없습니다. 삭제하시겠습니까?",
                yesText: "삭제", cancelText: "취소");
        if (result != null)
        {
            examScoreList.Remove(item);
            studentService.DeleteExamScore(item);
            snackBar.Add("성적 삭제 완료.", Severity.Success);
            StateHasChanged();
        }
    }  
}

